<h3>APL Central API test app</h3>
<p>{{rs.api_gen}}</p>


https://docs.google.com/document/d/1o_wWF4GVw1xvho213qq6LhjaHRedpFgfaQ7NskVfg8Y/edit#
<h4>Docs</h4>
<div class="well">
  <a href="https://docs.google.com/document/d/1o_wWF4GVw1xvho213qq6LhjaHRedpFgfaQ7NskVfg8Y/edit#" target="_blank">API Doc</a>
</div>

<h4>Profiles</h4>
<div class="well">
  <a type="button" class="btn btn-default" ng-href="#/profiles">List</a>
</div>

<h4>Clear demo data</h4>
<div class="well">
  <button class="btn" ng-click="demo_clear_button()">Clear</button>
</div>

<!-- <br/>&nbsp;<br> -->

<h4>Demo deposit</h4>
<div class="well">
  <form name="update_form"  novalidate>
    <div class="form-body">

      <div class="row" >
        <div class="col-md-4 ">
          <div class="form-group">
            <label for="account_no">Account Number</label>
            <input type="text" class="form-control" name="account_no" id="account_no" ng-model="ui_demo_deposit.account_no"/>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-md-4 ">
          <div class="form-group">
            <label for="amount">Amount</label>
            <input type="text" class="form-control" name="amount" id="amount" ng-model="ui_demo_deposit.amount"/>
          </div>
        </div>
      </div>

      <div class="row" >
        <div class="col-md-4 ">
          <button class="btn" ng-click="demo_deposit_button()">Post</button>
        </div>
      </div>
    </div>
  </form>

</div>