<!DOCTYPE html>
<html>
  <head>
    <title>APL Central API Test</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <meta name="robots" content="noindex"/>
    <link rel="icon" href="images/favicon.ico" type="image/png">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="css/ng-grid.min.css">

    <link type="text/css" rel="stylesheet" href="css/login.css">

    <style>
      .ttips{
        margin: 60px;
      }
      .navbar-collapse ul {
        margin-top: 20px;
      }
      .logo {
        float: left;
      }
      .mypointer {
        cursor: pointer;
      }
    </style>
  </head>

  <body ng-app="main_app">
    <div class="navbar navbar-default">
      <a class="logo"><img src="images/jando.png" href="#" class="img-responsive"></a>
      <!--
      <span ng-controller="info_controller">
        {{rs.api_gen}}
      </span>
      -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="content_navbar" ng-controller="menu_controller">
        <ul class="nav navbar-nav "> 
          <li class="" ><h3>&nbsp;Central API tester</h3></li>
        </ul>        
        <ul class="nav navbar-nav pull-right"> <!-- pull-right -->
          <li class="active mypointer" id="navli_landing" ><a ng-click="landing_button()" >Home</a></li>
          <li class="active mypointer" id="navli_profiles" ><a ng-click="profiles_button()" >Profiles</a></li>
          <li class="active mypointer" id="navli_vouchers" ><a ng-click="vouchers_button()" >Vouchers</a></li>
          <li class="active mypointer" id="navli_transactions" ><a ng-click="transactions_button()" >Transactions</a></li>
          <!--
          <li class="nav-item dropdown" id="navli_profiles" >
            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#" title="View / add profiles">Profiles<i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
              <li class="mypointer" id="navli_view_profiles"><a ng-click="profiles_button()" title="View the registered profiles of the logged in user">View profiles</a></li>
              <li class="mypointer" id="navli_add_profiles" ><a ng-click="add_profiles_button()" title="Add a new profile for the logged in user">Add profile</a></li>
            </ul>
          </li>
          -->
        </ul>
      </div>
    </div>

    <div class="container-fluid">
      <ng-view>
      </ng-view>
    </div>

    <script type="text/javascript" src="lib/jquery.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap-hover-dropdown.min.js"></script> 
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-route.min.js"></script>
    <script type="text/javascript" src="lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script type="text/javascript" src="lib/ng-grid-2.0.11.min.js"></script>
    <script type="text/javascript" src='lib/lodash.underscore.min.js'></script>
    <script type="text/javascript" src="js/lookups.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/init.js"></script>
    <script type="text/javascript" src="js/util.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>
    <script type="text/javascript" src="src/landing/landing.js"></script>
    <script type="text/javascript" src="src/profiles/profiles.js"></script>
    <script type="text/javascript" src="src/vouchers/vouchers.js"></script>
    <script type="text/javascript" src="src/transactions/transactions.js"></script>
  </body>
</html>
