<style>
  .gridList {
    border: 2px solid rgb(200,200,250);
    width: 100%;
    height: 280px;
  }
</style>

<h2>Vouchers</h2>

<div class="row">
  <div class="col-md-12">
    <div class="gridList" ng-grid="grid_options" ></div>
  </div>
</div>
<br/>

<div class="row">
  <div class="col-md-3">
    <button class="btn" ng-click="reload_button()">Reload</button>
  </div>
</div>
<p>&nbsp;</p>